


{{#each model as |something|}}

{{!-- <h2>{{list.title}}</h2>

   {{#each list.items as |item|}}
       <li>{{item.content}}</li>
   {{/each}} --}}


   {{!-- reference listr-list Component, something in component is referenced as test --}}
   {{listr-list test=something}}

{{/each}}
